body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background:#222 ;
background-image: url(https://i.pinimg.com/originals/1c/a7/89/1ca789bde5f72e51adb032391dd7db73.jpg);
}
/* .main{ 

    padding: 2px;
    border-radius: 30px;
} */
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search1{
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 18px;

}
